//color-white
$color-white:#FFFFFF;
$color-dark-white:#F0E9E9;
$color-darker-white:#00000029;

//color-black
$color-dark-black:#0E1E24;
$color-black:#081317;
$color-black-light:#464646;
$color-black-lighter:#707070;
$color-black-lite:#3E3E3E;

//color-pink
$color-pink:#F857A6;
$color-dark-pink:#FF00CC;

//color-orange
$color-orange:#FF512F;
$color-orange-light:#FF5858;

//color-yellow
$color-yellow:#F09819;

//color-purple
$color-purple:#8E2DE2;
$color-purple-light:#8E54E9;

//color-blue
$color-blue:#4A00E0;
$color-blue-sky:#0575E6;
$color-blue-sky-lighter:#4776E6;
$color-blue-navy:#4776E6;
$color-blue-link:#0984E3;
$color-blue-dark:#384A8D;
$color-blue-darker:#333399;


//shadow
$color-shadow-light:#00000029;



